/.vs
/Final/obj
/Final/bin
/Final/obj/Debug/net8.0/Final.AssemblyInfo.cs
/Final/obj/Debug/net8.0/Final.AssemblyInfoInputs.cache
/Managers/obj
/Managers/bin
/Managers/obj/Debug/net8.0/Final.AssemblyInfo.cs
/Managers/obj/Debug/net8.0/Final.AssemblyInfoInputs.cache
